html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
html,
body {
	height: 100%;
}
body {
    font-size: 14px;
    font-weight: 400;
    height: 100vh;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
.wrapper {
    display: flex;
    overflow: hidden;
	flex-direction: column;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media (max-width: 1440px) {
        background-image: url(../img/bg1280.jpg) !important;
    }
    @media (max-width: 990px) {
        background-image: url(../img/bg768.jpg) !important;
    }
}
.page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.footer {
	flex: 0 0 auto;
}
.container {
    max-width: 1390px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 1440px) {
        max-width: 1150px;
    }
    @media (max-width: 990px) {
        max-width: 770px;
    }
    @media (max-width: 660px) {
        max-width: 320px;
        padding: 0 10px;
    }
}

button {
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input::-ms-clear { 
    display: none; 
}

input {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}

.btn {
    max-width: 425px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    height: 83px;
    font-family: "Gilroy-Heavy", sans-serif;
    color: #fff;
    transition: all .3s ease;
    transform: skewX(-10deg);
    padding-top: 5px;
    text-transform: uppercase;
    
    @media (max-width: 1440px) {
      max-width: 323px;
      height: 63px;
      font-size: 32px;
    }
    @media (max-width: 660px) {
      max-width: 235px;
      height: 46px;
      font-size: 23px;
    }
    // .btn_red
  
    &_red {
      background: linear-gradient(92.28deg, #FF0000 0%, #CB1111 56.76%, #FF0000 96.44%);
      box-shadow: 0px 17px 47px rgba(255, 0, 0, 0.4), 0px 11.2625px 13.515px rgba(0, 0, 0, 0.6);
      text-shadow: 0px 5.26505px 7.02007px rgba(0, 0, 0, 0.2);
      &:hover {
        background: linear-gradient(92.28deg, #FF0000 0%, #FA1818 56.76%, #FF0000 96.44%);
        box-shadow: 0px 17px 47px rgba(255, 0, 0, 0.6), 0px 11.2625px 13.515px rgba(0, 0, 0, 0.6);
        border: 1px solid #fff;
        text-shadow: 0px 5.42544px 7.23391px rgba(0, 0, 0, 0.2);
      }
    }
  
    // .btn_green
  
    &_green {
      background: linear-gradient(271.34deg, rgba(10, 88, 30, 0.8) 2.08%, rgba(10, 159, 48, 0) 89.51%), #0A9F30;
      box-shadow: 0px 0px 15px #3BB259;
      font-size: 26px;
      line-height: 31px;
      height: 71px;
      max-width: 405px;
      font-family: "SFProDisplay-Bold", sans-serif;
      padding-bottom: 5px;
      color: #fff !important;
      span {
          transform: skew(10deg);
      }
      @media (max-width: 1440px) {
        max-width: 323px;
        height: 63px;
        font-size: 28px;
      }
     
    }
  }