.footer {
  z-index: 1;
  position: relative;
  transition: all .6s ease-in-out;

  @media (min-height: 480px) {
    transform: translateY(-240%);
  }
  @media (min-height: 768px) {
    transform: translateY(-300%);
  }
  @media (min-height: 812px) {
    transform: translateY(-240%);
  }
  @media (min-height: 900px) {
    transform: translateY(-360%);
  }
  @media (min-height: 960px) {
    transform: translateY(-380%);
  }
  @media (min-height: 1200px) {
    transform: translateY(-500%) !important;
  }
  @media (min-height: 1366px) {
    transform: translateY(-700%) !important;
  }
  @media (max-width: 640px) {
    transform: translateY(-220%) !important;
  }
  &.active {
    transform: translateY(0) !important;
  }
  
  // .footer__wrapper

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 43px;
    @media (max-width: 1440px) {
      padding-bottom: 23px;
    }
    @media (max-width: 990px) {
      padding-bottom: 41px;
    }
  }
}
.socials {
  display: flex;
  justify-content: space-between;
  flex: 0 1 600px;
  @media (max-width: 660px) {
    flex-direction: column;
    align-items: center
  }
  // .socials__links

  &__links {
    display: flex;
    align-items: center;
    margin-right: 20px;
    @media (max-width: 660px) {
      margin: 0 0 17px 0;
    }
  }

  // .socials__link

  &__link {
    margin-right: 28px;
    width: 26px;
    height: 26px;
    img {
      max-width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 660px) {
      margin-right: 23px;
    }
  }

  // .socials__btns

  &__btns {
    display: flex;
    align-items: center;
    @media (max-width: 660px) {
      justify-content: center;
    }
  }

  // .socials__btn

  &__btn {
    margin-right: 21px;
    flex: 0 1 163px;
    img {
      max-width: 100%;
    }
    &:last-child {
      margin-right: 0;
    }
    @media (max-width: 660px) {
      flex: 0 1 140px;
      margin-right: 18px;
    }
  }
}
