.hero {
  position: relative;
  z-index: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 35px 0 50px;
  transition: all .6s ease 1s;

  &::before {
    content: '';
    position: absolute;
    bottom: -96px;
    left: 0;
    background-image: url(../img/main-shadow.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

@media (max-width: 1850px) {
  &::before {
    background-position: bottom;
    background-size: cover;
    height: 332px;
  }
}
@media (max-width: 1440px) {
  padding: 22px 0 17px;
  &::before {
    height: 244px;
  }
}
@media (max-width: 1024px) {
  &::before {
    height: 344px;
  }
}
@media (max-width: 990px) {
  padding: 27px 0 41px;
  &::before {
    height: 443px;
  }
}
@media (max-width: 660px) {
  padding: 18px 0 25px;
  &::before {
    height: 460px;
    bottom: -130px;
  }
}

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  // .hero__wrapper

  &__wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  // .hero__columns

  &__columns {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .hero__column

  &__column {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 1px;
    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 990px) {
      flex-direction: column;
    }
    @media (min-height: 1023px) {
      &:first-child {
        transform: translateY(100px);
      }
    }
    @media (min-height: 1025px) {
      &:first-child {
        transform: translateY(0);
      }
    }
  }

  // .hero__title

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 79px;
    max-width: 657px;
    color: #fff;
    width: 100%;
    min-height: 250px;
    font-size: 80px;
    font-family: "Gilroy-Heavy", sans-serif;
    font-style: italic;
    line-height: 90px;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0px 5.95694px 7.14833px rgba(0, 0, 0, 0.6);
    span {
      font-size: 101px;
      line-height: 114px;
      text-shadow: 0px 7.52943px 9.03531px rgba(0, 0, 0, 0.6);
    }
    transform: translateX(-300%);
    transition: all 1s ease .8s;
    &.active {
      transform: translateX(0);
    }
    @media (max-width: 1440px) {
      max-width: 480px;
      padding: 0;
      font-size: 59px;
      line-height: 67px;
      min-height: 202px;
      span {
        font-size: 74px;
        line-height: 84px;
      }
    }
    @media (max-width: 990px) {
      min-height: 142px;
      margin: 0 0 50px 55px;
    }
    @media (max-width: 660px) {
      font-size: 36px;
      line-height: 41px;
      margin: 0 0 0 10px;
      width: 100%;
      min-height: 90px;
      span {
        font-size: 46px;
        line-height: 52px;
      }
    }
  }

  // .hero__logos

  &__logos {
    max-width: 702px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 250px;
    padding-right: 88px;
    background-image: url(../img/hero/shape1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    transform: translateX(300%);
    transition: all 1s ease 1.4s;
    &.active {
      transform: translateX(0);
    }
    @media (max-width: 1440px) {
      max-width: 570px;
      min-height: 202px;
      padding-right: 93px;
    }
    @media (max-width: 990px) {
      justify-content: flex-start;
      padding: 0 0 0 50px;
      margin: 0 0 60px 45px;
    }
    @media (max-width: 660px) {
      padding: 0 0 0 50px;
      margin: 0 0 10px 0px;
      min-height: 135px;
      max-width: 380px;
    }
    @media (max-width: 425px) {
      margin-left: -45px;
    }
  }

  // .hero__logo

  &__logo {
    position: relative;
    z-index: 2;
    margin-right: 40px;
    &:last-child {
      margin-right: 0;
    }
    img {
      max-width: 100%;
      display: block;;
    }
    @media (max-width: 1440px) {
      &:first-child {
        max-width: 138px;
      }
      &:last-child {
        max-width: 98px;
      }
    }
    @media (max-width: 990px) {
      margin-right: 9px;
    }
    @media (max-width: 660px) {
      &:first-child {
        max-width: 92px;
      }
      &:last-child {
        max-width: 65px;
      }
    }
  }
  // .hero__bonus

  &__bonus {
    max-width: 702px;
    width: 100%;
    min-height: 250px;
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    padding-left: 0;
    background-image: url(../img/hero/shape2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
    img {
      max-width: 100%;
      display: block;
      margin-bottom: -20px;
    }
    transform: translateX(-300%);
    transition: all 1.2s ease 2.6s;
    &.active {
      transform: translateX(0);
    }
    @media (max-width: 1440px) {
      min-height: 207px;
      max-width: 583px;
      padding-left: 25px;
      img {
        max-width: 450px;
      }
    }
    @media (max-width: 990px) {
      min-height: 207px;
    }
    @media (max-width: 660px) {
      min-height: 115px;
      max-width: 323px;
      img {
        max-width: 250px;
      }
    }
  }

  // .hero__img

  &__img {
    position: absolute;
    bottom: 0px;
    right: 175px;
    img {
      display: block;
      max-width: 100%;
    }
    transition: all 1s ease 2.4s;
    opacity: 0;
    &.active {
      opacity: 1;
    }

    @media (min-width: 1921px) {
      min-width: 1300px;
      right: 30px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media (max-width: 1600px) {
      max-width: 720px;
      right: 270px;
      bottom: -50px;
    }
    @media (max-width: 1440px) {
      max-width: 700px;
      right: 160px;
    }
    @media (max-width: 1366px) {
      max-width: 740px;
      right: 140px;
    }
    @media (max-width: 1366px) {
      max-width: 640px;
      right: 160px;
    }
    @media (max-width: 800px) {
      max-width: 740px;
      bottom: 40px;
      right: -100px;
    }
    @media (max-width: 640px) {
      bottom: 20px;
      right: -240px;
      max-width: 800px;
    }
    @media (max-width: 375px) {
      right: -200px;
      max-width: 480px;
    }
    @media (min-height: 1365px) {
      min-width: 1400px;
      right: -300px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    @media (min-height: 1439px) {
      min-width: 1400px;
      right: -40px;
    }
  }

  &__info {
    margin: 0 auto;
    margin-top: -41px;
    @media (max-width: 1440px) {
      margin: 23px auto 0;
    }
  }

}
.info {
  max-width: 725px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 3;
  opacity: 0;
  transition: all .8s ease 4s;
  &.active {
    opacity: 1;
  }
  @media (max-width: 1440px) {
    max-width: 620px;
  }
  @media (max-width: 990px) {
    margin-top: 18px;
  }
  @media (max-width: 660px) {
    margin-top: 28px;
    flex-direction: column;
  }
  // .info__btn

  &__btn {
    margin-right: 10px;
    &_md {
      display: none;
    }
    // @media (max-width: 1024px) {
    //   display: none;
    //   &_md {
    //     display: flex;
    //   }
    // }
    @media (max-width: 660px) {
      margin: 0 0 10px 0;
    }
  }

  // .info__learn

  &__learn {
    padding-left: 40px;
    position: relative;
    font-size: 21px;
    line-height: 26px;
    letter-spacing: -0.05em;
    color: #fff;
    cursor: pointer;
    font-style: italic;
    font-family: "Gilroy-Bold", sans-serif;
    &:hover {
      &::after {
        opacity: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 183px;
      height: 1px;
      background-color: #fff;
      bottom: 3px;
      right: 0;
      transition: all .3s ease;
    }

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 26px;
      height: 26px;
      background-image: url(../img/hero/info.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
  background: rgba(6, 6, 6, 0.3);
  backdrop-filter: blur(9px);
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
.modal-info {
  transition: all .3s ease;
  bottom: 0;
  background-color: #fff;
  width: 900px;
  height: 80%;
  z-index: 11;
  position: relative;

  @media (max-width: 1024px) {
    width: 702px;
    height: 80%;
    margin: 0 33px;
  }
  @media (max-width: 767px) {
    margin: 0 15px;
    height: 90%;
  }
		// .modal-info__wrapper

		&__wrapper {
      overflow: hidden;
      height: 100%;
      padding: 31px 0 6px;
		}

		// .modal-info__close

		&__close {
      width: 30px;
      height: 30px;
      position: absolute;
      top: -15px;
      right: -15px;
      cursor: pointer;
      img {
        max-width: 100%;
        display: block;
      }
      @media (max-width: 640px) {
        width: 20px;
        height: 22px;
        top: -10px;
        right: -10px;
      }
		}

		// .modal-info__content

		&__content {
      overflow-y: auto;
      height: 100%;
      padding: 20px 30px 30px 55px;
      margin-right: 25px;
      scrollbar-width: thin;
      scrollbar-color: #129A48 #C4C4C4;
      &::-webkit-scrollbar {
        background-color: #C4C4C4;
        width: 3px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #129A48;
      }
      @media (max-width: 767px) {
        margin-right: 11px;
        padding: 0 25px 20px 22px;
      }
		}

		// .modal-info__title

		&__title {
      font-size: 18px;
      line-height: 21px;
      font-family: "SFProDisplay-Semibold", sans-serif;
      text-transform: uppercase;
      margin-bottom: 20px;
		}

		// .modal-info__list

		&__list {
      font-size: 16px;
      line-height: 19px;
      font-family: "SFProDisplay-Light", sans-serif;
    }
    
    // .modal-info__list

		&__list-link {
      color: #0A9F30;
      display: inline-block;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: #0A9F30;
        bottom: -1px;
        left: 0;
      }
      &_md {
        display: none;
      }
      // @media (max-width: 1024px) {
      //   display: none;
      //   &_md {
      //     display: inline-block;
      //   }
      // }
    }

		// .modal-info__list-item

		&__list-item {
      margin-bottom: 20px;
      span {
        font-family: "SFProDisplay-Semibold", sans-serif;
      }
      a {
        color: #0A9F30;
      }
      &:last-child {
        margin-bottom: 0;
      }
		}

		// .modal-info__bonus-size

		&__bonus-size {
      color: #0A9F30;
      max-width: 335px;
      margin: 20px 0;
      font-family: "SFProDisplay-Regular", sans-serif;
		}

		// .modal-info__max

		&__max {
      font-size: 16px;
      line-height: 18px;
      margin: 20px 0;
      font-family: "SFProDisplay-Light", sans-serif;
    }
    
    		// .modal-info__law

		&__law {
      font-size: 13.21px;
      font-style: italic;
      font-family: "SFProDisplay-Light", sans-serif;
		}

		// .modal-info__btn

		&__btn {
      margin: 55px auto 25px;
			// .modal-info__btn_md

			&_md {
        display: none;
      }
      // @media (max-width: 1024px) {
      //   display: none;
      //   &_md {
      //     display: flex;
      //   }
      // }
		}
}
